/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    background: #1e293b;
    padding: 20px;
}

.sidebar a {
    display: flex;
    gap: 10px;
    color: #cbd5e1;
    padding: 10px;
    text-decoration: none;
}

.sidebar a.active {
    background: #3b82f6;
    color: #fff;
}

/* CONTENT */
.content {
    margin-left: 240px;
    padding: 30px;
}

/* LOGIN */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e293b, #334155);
}

.login-card {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
}

/* GRÁFICO */
.grafico-rosca-container {
    max-width: 320px;
    margin: 0 auto;
}